<h1>Hey! <%= @current_user.name %></h1>

<% @posts.each do | post | %>
 <h1><%= post.title %></h1>
 <small><%= post.created_at %></small>
 <p><%= post.content %></p>

 <a href="/posts/<%= post.id %>">Read more</a>
<% end %>
