<h1>Hey! <%= @current_user.name %></h1>

<% @posts.each do | post | %>
 <h1><%= post.title %></h1>
 <small><%= post.created_at %></small>
 <p><%= post.content %></p>

 <%= link_to "Read more", single_blog_path(post) %>
<% end %>
